<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1>Check out one of the animal pack members!</h1>
  <h3>Name: <%= animal.name %></h3>
  <h3>Age: <%= animal.age %></h3>
  <h4>Color: <%= animal.color %></h4>
  <a href="/">Home</a>
  <a href="/<%= animal._id %>/edit">Edit</a>
</body>
</html>