<div id="main">
  <h1>Edit Product</h1>
  <fieldset>
    <form (submit)='update($event)' #form='ngForm'>
      <div>
        <label for=""> name </label>
        <input type="text" name="name" required minlength="4" [(ngModel)]='product.name' #name="ngModel">
        <!-- {{ name.errors | json }} {{ name.valid | json }} -->

        <div class="errors" *ngIf="(name.touched || name.dirty) &&  name .errors">
          <div *ngIf='name.errors.required'>
            name is required
          </div>
          <div *ngIf='name.errors.minlength'>
            name must be at least {{name.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>

      <div>
        <label for=""> Price</label>
        <input type="text" name="price" required [(ngModel)]='product.price' #price="ngModel">
        <!-- {{ price.errors | json }} {{ price.valid | json }} -->

        <div class="errors" *ngIf="(price.touched || price.dirty) &&  price.errors">
          <div *ngIf='price.errors.required'>
            Price is required
          </div>
        </div>
      </div>

      <div>
        <label for=""> Image Url</label>
        <input type="text" name="imageUrl" [(ngModel)]='product.imageUrl'>
      </div>

      <input type="submit" value="UPDATE">


    </form>
  </fieldset>

</div>
