<h1>welcome to bikes</h1>


<form (submit)='onSubmit($event, bikeForm)' #bikeForm='ngForm'>
  <div>
    <label for="">Title</label>
    <input type="text" name='title' [(ngModel)]='bike.title' required>
  </div>
  <div>
    <label for="">Description</label>
    <input type="text" name='description' [(ngModel)]='bike.description' required>
  </div>
  <div>
    <label for="">Price</label>
    <input type="text" name='price' [(ngModel)]='bike.price' required>
  </div>
  <div>
    <label for="">Location</label>
    <input type="text" name='location' [(ngModel)]='bike.location' required>
  </div>
  <div>
    <label for="">Image URL</label>
    <input type="text" name='image' [(ngModel)]='bike.image' required>
  </div>

  <div>
    <button type="submit" ng-disabled='bikeForm.invalid'>Create</button>
  </div>
</form>
