<div>
  <h1>
    {{ title }}
  </h1>
</div>

<div class="registered" *ngIf="userForm.submitted && users[0]">
  <p>Thank you for registering with us {{ users[users.length - 1].firstname }}! We just sent you a confirmation email at:
    <a>{{ users[users.length - 1].email }}</a>, and we will send all mail to {{ users[users.length - 1].address }} {{ users[users.length-
    1].unit}}, {{ users[users.length - 1].city }}, {{ users[users.length - 1].state }}.</p>
  <p>Have a wonderful day!</p>
</div>

<div>
  <fieldset>
    <legend>Account Information</legend>
    <!-- {{ userForm.value | json }} -->
    <form (submit)='onSubmit($event, userForm)' #userForm='ngForm'>
      <div>
        <label for="">First Name</label>
        <input type="text" name="firstname" required minlength="2" maxlength="24" [(ngModel)]='user.firstname' #firstname="ngModel">
        <!-- {{ firstname.errors | json }} {{ firstname.valid | json }} -->
        <div class="errors" *ngIf="(firstname.touched || firstname.dirty) && firstname.errors">
          <div *ngIf='firstname.errors.required'>
            First name is required
          </div>
          <div *ngIf='firstname.errors.minlength'>
            Firstname must be at least {{firstname.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>
      <div>
        <label for="">Last Name</label>
        <input type="text" name="lastname" required minlength="2" maxlength="24" [(ngModel)]='user.lastname' #lastname="ngModel">
        <div class="errors" *ngIf="(lastname.touched || lastname.dirty) && lastname.errors">
          <div *ngIf='lastname.errors.required'>
            Last name is required
          </div>
          <div *ngIf='lastname.errors.minlength'>
            Last name must be at least {{ lastname.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>
      <div>
        <label for="">Email</label>
        <input type="text" name="email" required minlength="4" maxlength="24" [(ngModel)]='user.email' #email="ngModel">
        <div class="errors" *ngIf="(email.touched || email.dirty) && email.errors">
          <div *ngIf='email.errors.required'>
            Email is required
          </div>
          <div *ngIf='email.errors.minlength'>
            Email must be at least {{ email.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>
      <div>
        <label for="">Password</label>
        <input type="text" name="password" minlength="16" [(ngModel)]='user.password' #password="ngModel" required>
        <div class="errors" *ngIf="(password.touched) && password.errors">
          <div *ngIf='password.errors.required'>
            Password is required
          </div>
          <div *ngIf='password.errors.minlength'>
            Password must be at least {{ password.errors.minlength.requiredLength }} characters.
          </div>

        </div>
      </div>
      <div>
        <label for="">Password Confirmation</label>
        <input type="text" name="confirm" required [(ngModel)]='user.confirm' #confirm="ngModel">
        <div class="errors" *ngIf="confirm.touched && (password.value !== confirm.value)"> Passwords must match </div>
      </div>

      <div>
        <label for="">Street Address</label>
        <input type="text" name="address" minlength="4" [(ngModel)]='user.address' #address="ngModel" required>
        <div class="errors" *ngIf="(address.touched) && address.errors">
          <div *ngIf='address.errors.required'>
            Address is required
          </div>
          <div *ngIf='address.errors.minlength'>
            Address must be at least {{ address.errors.minlength.requiredLength }} characters.
          </div>
        </div>

      </div>

      <div>
        <label for="">Unit/Apt #</label>
        <input type="text" name="unit" [(ngModel)]='user.unit'>
      </div>
      <div>
        <label for="">City</label>
        <input type="text" name="city" [(ngModel)]='user.city' required minlength="2" #city="ngModel">
        <div class="errors" *ngIf="(city.touched) && city.errors">
          <div *ngIf='city.errors.required'>
            City is required
          </div>
          <div *ngIf='city.errors.minlength'>
            City must be atleast {{city.errors.minlength.requiredLength }} characters
          </div>

        </div>
      </div>
      <div>
        <label for="">State</label>
        <select name="state" required [(ngModel)]='user.state' #state="ngModel">
          <option value="ny">New York</option>
          <option value="fl">Florida</option>
          <option value="nj">New Jersey</option>
          <option value="cl">California</option>
        </select>
      </div>
      <div>
        <label for="lucky">I'm feeling lucky</label>
        <input type="radio" name="lucky" [(ngModel)]="user.lucky" #lucky="ngModel" value="true"> Yes
        <input type="radio" name="lucky" [(ngModel)]="user.lucky" #lucky="ngModel" value="false"> No
        <br>
      </div>
      <button>Register</button>
    </form>
  </fieldset>
</div>
