<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<h2>Welcome, Check out all the cars: </h2>
		<img src="/images/car1.png">
		<img src="/images/car2.jpeg">
		<img src="/images/car3.png">
</body>
</html>