<!DOCTYPE html>
<html>
<head>
	<title>Form Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
	<div>
		<h1>Create a new car!</h1>
		<form action="/action_page.php">
		  Name of car:<br>
		  <input type="text" name="carname"><br>
		  Type of car:<br>
		  <input type="text" name="type" ><br><br>
		  <input type="submit" value="Submit">
		</form>
	</div>

</body>
</html>