<div id="main">
  <h1>Create Product</h1>
  <fieldset>
    <form (submit)='create($event)' #userForm='ngForm'>
      <div>
        <label for=""> Title </label>
        <input type="text" name="name" required minlength="4" [(ngModel)]='product.name' #name="ngModel">
        <!-- {{ title.errors | json }} {{ title.valid | json }} -->

        <div class="errors" *ngIf="(name.touched || name.dirty) &&  name.errors">
          <div *ngIf='name.errors.required'>
            Title is required
          </div>
          <div *ngIf='name.errors.minlength'>
            Title must be at least {{name.errors.minlength.requiredLength }} characters.
          </div>
        </div>
      </div>

      <div>
        <label for=""> Price</label>
        <input type="text" name="price" required [(ngModel)]='product.price' #price="ngModel">
        <!-- {{ price.errors | json }} {{ price.valid | json }} -->

        <div class="errors" *ngIf="(price.touched || price.dirty) &&  price.errors">
          <div *ngIf='price.errors.required'>
            Price is required
          </div>
        </div>
      </div>

      <div>
        <label for=""> Image Url</label>
        <input type="text" name="img" [(ngModel)]='product.img'>
      </div>

      <input type="submit" [disabled]="!formData.valid">

    </form>
  </fieldset>

</div>
