<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quotes</title>
</head>
<body>
  <a href="/">Home</a>
  <h1>Check out all the awesome quotes!</h1>

  
  <% for (let quote of quotes) { %>
    <h3>Name: <%= quote.name %></h3>
    <p>Quote: <%= quote.quote %>  at:  <%= quote.date %></p>
    <p></p>

  <% } %>

</body>
</html>