<div class="main">

  <h3>Power Component</h3>

  <div>

    <div>
      <label for="">Initial Power Level: </label>
      <input type="number" max="100" min="0" [(ngModel)]="power">
      <p class="calculate">Calculate Powers</p>

    </div>

  </div>

  <div class="show">
    <app-human [power]="power"></app-human>
    <app-saiyon [power]="power"></app-saiyon>
    <app-supersaiyon [power]="power"></app-supersaiyon>
    <app-supersaiyontwo [power]="power"></app-supersaiyontwo>
    <app-supersaiyonthree [power]="power"></app-supersaiyonthree>
    <app-supersaiyonfour [power]="power"></app-supersaiyonfour>
  </div>
</div>
