<div class="container">

  <!-- <div class="row">
    <div class="col-12">
      <div class="container">
        <label for="search">
          <b>Search: </b>
        </label>
        <input class="search" type="text" placeholder="Search for a bike" [(ngModel)]='filter.title'>
        <button *ngIf='filter.title' (click)='filter.title = null' class="btn btn-primary">x</button>
      </div>
    </div>
  </div> -->

  <!-- List of all bikes -->
  <div class="container" *ngFor='let bike of bikes'>
    <div class="allbikes">
      <div class="row">
        <div class="col-3">
          <img src="{{ bike.image }}" alt="bike-image">
        </div>
        <div class="col-6">
          <div class="row">
            <h4>{{ bike.title }}</h4>
          </div>
          <div class="row">
            <p>{{ bike.description }}</p>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <h5>{{ bike.price | currency:USD }}</h5>
          </div>
          <div class="row">
            <p>{{ bike.location }}</p>
          </div>
          <div class="row">
            <button class="btn btn-danger" *ngIf='authed; else login' (click)='onDelete(bike)'>Delete</button>
            <button class="btn btn-primary" (click)="openModal(bike)">Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal features -->
<div class="bground" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Listing Owner Contact</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Name: {{ bikeOwnerInfo.name }}</p>
        <p>Email: {{ bikeOwnerInfo.email }}</p>
      </div>
    </div>
  </div>
</div>
